{% extends 'base.html' %}

{% block content %}

<div class='column'>
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'TweetWiz:logout' %}">Logout</a>
            {% comment %} <a href="{% url 'TweetWiz:password_change' %}">Change Password </a> {% endcomment %}
        {% else %}
            <a href="{% url 'TweetWiz:login' %}">Login</a>
        {% endif %}
    </div>
</div>
{% if not user.is_authenticated %}
<div class="column">
    <div class="box">
        <span class="is-small has-text-grey-light">
            Please Log in here
        </span>
    </div>
</div>
{% else %}
<div class="column">
    {% for tweet in tweets %}
        <div class="box">
            {{ tweet.body }}
            <span class="is-small has-text-grey-light">
                ({{ tweet.created_at }} by {{ tweet.user.username }}
            </span>
        </div>
    {% endfor %}
</div>
<div class="block">
    <div class="block">
        <h2 class="title is-2">Add a Tweet</p>
    </div>
    <div class="block">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button is-success is-fullwidth is-medium mt-5"
                    type="submit">Tweet
            </button>
        </form>
    </div>
</div>
{% endif %}

{% endblock content %}